.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header{
	background-color:#f1f1f1;
	padding:10px;
	border:3px solid #00a651;
	margin-top:10px;
}
p{
	color:#1c75bb;
	
}
/*make slightly grey and a barely noticable 3D illusion #EFEFEF*/

a.logout{	
	border: 2px solid #111111;
    box-shadow: 1px 1px 1px #888888;
	background-color:#1c75bb;
	color:white;
	float: right;    
}
#Provider{
	font-size:24px;
	color:#1c75bb;
}
.home-btn{
	background-color:#F4F4F4;
	color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 4px;
  width:100%;
  box-shadow: 3px 3px 2px #888888;
}
#Eligibility{
	color:#1c75bb;
}
#Benefits{
	color:#1c75bb;
}
#Claims{
	color:#1c75bb;
}
#Basicinfo{
	color:#1c75bb;
}
#Dental{
	color:#1c75bb;
}
#FAQs{
	color:#1c75bb;
}
/*
	background-color:#AFAF93;
	
	 text-decoration: none;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
  padding-right: 50px;
  margin: 10px;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  
  
  
  
  
  background-color: #F4F4F4;
    box-shadow: 3px 3px 2px #888888;
    margin: 10px;
	width: 75%
}