#Logout{
    float:right;
    color:black;
}
#Provider{
    font-size: 24px;
    color: white;
border-style:solid;
border-color:#000000;
background-color:#1c75bb;
padding:15px 5px;
margin-top:10px;



}
#Eligibility{
	color:#1c75bb;
}
#Benefits{
	color:#1c75bb;
}
#Claims{
	color:#1c75bb;
}
#Basicinfo{
	color:#1c75bb;
}
#Dental{
	color:#1c75bb;
}
#FAQs{
	color:#1c75bb;
}
i{
    color:red;
}
.color{
    color:#1c75bb;
}
/*
    .home-btn{
	background-color:#F4F4F4;
	color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 4px;
  width:100%;
  box-shadow: 3px 3px 2px #888888;
}
    a.logout{	
	border: 2px solid #111111;
    box-shadow: 1px 1px 1px #888888;
	background-color:#1c75bb;
	color:white;
	float: right;    
}

    .home-btn{
	background-color:#F4F4F4;
	color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 4px;
  width:100%;
  box-shadow: 3px 3px 2px #888888;
}
	background-color:#AFAF93;
	
	 text-decoration: none;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
  padding-right: 50px;
  margin: 10px;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  
  
  
  
  
  background-color: #F4F4F4;
    box-shadow: 3px 3px 2px #888888;
    margin: 10px;
	width: 75%
}